<div class="w-100">
    <div class="menu">
        <nav class="">
            <ul class="">
                <li routerLinkActive="active">
                    <a routerLink="/private/admon" >Users</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/private/analytics" >Analytics</a>
                </li>
                <li class="close">
                    <a (click)="close($event)" href="#">
                        Close
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<router-outlet></router-outlet>