@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap');

/* Colors */

$oxford: #d1d4de;
$disabled: #6C8DD5;
$error:#A2410B;
$backgroundColor: #4962D6;

$primary: #73B962;
/* fonts */

$primaryFont: "Open Sans";
$secundaryFont: "Barlow";

/* inputs */

$backgroundInput: #EFEFF4;
$shadowColorInput: #73B962;

